.booking-wrapper {
	position: relative;
	/*padding: 7px 0 0 0;*/
	height: calc(100% - 85px);
	font-size: 16px;
}


/*左边*/
.booking-left{
	height: 100%;
	padding:15px;
	border-right:1px solid #d2d2d2;
	overflow-y: auto;
}
.booking-left form{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:100%;
}
.booking-left form .form-wrapper{
	flex:1;
}
.booking-left .form-group{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	height: 30px;
	line-height: 30px;
	margin-bottom: 16px;
}
.booking-left .form-group>label{
	width:100px;
	font-weight: 400;
}
.booking-left .form-group .form-control{
	width:100%;
	flex:1;
	height: 100%;
	border-radius:0;
}
.booking-left .form-group .form-control.span2{
	border:none;
}
.booking-left .form-group .required{
	position: absolute;
	right:0;
	/*padding: 0 5px;*/
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #dc4240;
    font-style: normal;
}
.booking-left .form-group .order-date{
	padding:0;
}
.booking-left .form-group .book-calendar-icon {
    position: absolute;
    right: 25px;
    top: 4px;
}

.booking-left .form-group  .form-control.radio-wrapper{
	display: flex;
	justify-content: space-around;
    align-items: center;
	background:none;
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-left .form-group  .form-control.radio-wrapper .radio-inline{
	width:100%;
}
.booking-left .form-group  .form-control.radio-wrapper .radio-inline input{
	margin-left:10px;
}
.booking-left .form-group  .form-control.booking-status-wrapper{
	padding:0;
	background:none;
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.booking-left .form-group  .form-control.booking-status-wrapper .btn-group{
	width:100%;
}
.booking-left .form-group  .form-control.booking-status-wrapper .btn-group .btn{
	height:30px;
	width:50%;
	padding:0;
}
.booking-left .form-group  .form-control.booking-status-wrapper .btn-group .btn.active{
	background:#0dd6cf;
	color:#fff;
}
.booking-left .form-group.recommond{
	height:auto;
	/*vertical-align: top;*/
	font-size: 0;
}
.booking-left .form-group.recommond label{
	font-size:16px;
}
.booking-left .form-group.recommond .form-control{
}
.booking-left .booking-btns{
	/*position: absolute;
	bottom:25px;*/
	margin-bottom:25px;
	width:100%;
	text-align: center;
}
.booking-left .booking-btns .btn{
	height:45px;
	width:80px;
	background:#fff;
}
.booking-left .booking-btns .btn:focus{
	outline: none;
}
.booking-left .booking-btns .btn:active{
	background:#0dd6cf;
	color:#fff;
}
.booking-left .booking-btns .btn-submit{
	margin-right:80px;
}
/*右边*/
.booking-right {
	height: 100%;
}

.booking-right .search-wrapper {
	height: 45px;
	line-height: 45px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

.booking-right .search-wrapper .search-bar {
	/*width:100%;*/
	flex: 1;
	margin-right: 10px;
}

.booking-right .search-wrapper .search-bar .search-int input {
	width: 100%;
	height: 30px;
	border: 1px solid #bfbfbf;
	border-radius: 20px;
}

.booking-right .search-wrapper .search-bar .search-int input::-webkit-input-placeholder {
	color: #cbcbcb;
	/*font-size: 14px;*/
	font-family: "iconfont" !important;
	text-align: center;
}

.booking-right .booking-curdate {
	display: flex;
	align-items: center;
	/*height:30px;*/
	position: relative;
	margin-right: 10px
}

.booking-right .booking-curdate .order-date {
	width: 110px;
	height: 30px;
	padding:6px 10px 6px 6px;
	background: none;
    border: none;
    box-shadow:none;
}

.booking-right .booking-curdate i {
	/*display: inline-block;*/
	position: absolute;
	right: 0;
	top: 0;
}

.booking-right .booking-refresh {
	/*flex:1;*/
}

.booking-right .booking-order-tab ul {
	display: flex;
	height: 45px;
}

.booking-right .booking-order-tab>ul>li {
	flex: 1;
	
}

.booking-right .booking-order-tab>ul>li a {
	height: 45px;
	text-align: center;
	border-radius: 0px;
	background: #59ccde;
}

.booking-right .booking-order-tab .nav-pills>li.active>a,
.booking-right .booking-order-tab .nav-pills>li.active>a:focus,
.booking-right .booking-order-tab .nav-pills>li.active>a:hover {
	color: #59ccde;
	background-color: #fff;
	border: 1px solid #59ccde;
}

.booking-right .booking-order-tab .nav-pills>li a:hover {
	color: #59ccde;
	background-color: #fff;
}

.booking-right .booking-order-content {
	height: calc(100% - 90px);
	/*background: #fff;*/
}

.booking-right .booking-order-content .booking-order-list {
	height: 100%;
}

.booking-right .booking-order-content .booking-order-list .booking-order-title {
	height: 50px;
	line-height: 50px;
	/*border-bottom: 1px solid #c1c1c1;*/
	font-weight: 500;
	background: #e7f5f6;
}

.booking-right .booking-order-content .booking-order-list .booking-order-title span {
	padding: 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

.booking-right .booking-order-content .booking-order-list>ul {
	height: calc(100% - 50px);
	overflow-y: auto;
}

.booking-right .booking-order-content .booking-order-list>ul>.ol-item {
	height: 45px;
	line-height: 45px;
	background: #fff;
	/*border-bottom: 1px solid #c1c1c1;*/
}
.booking-right .booking-order-content .booking-order-list>ul>.ol-item:nth-child(even) {
	background: #e7f5f6;
}
.booking-right .booking-order-content .booking-order-list>ul>.ol-item:active,
.booking-right .booking-order-content .booking-order-list>ul>.ol-item.active {
	color: #fff;
	background: #45d6d1;
}

.booking-right .booking-order-content .booking-order-list>ul>.ol-item span {
	padding: 0 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}

/*新增*/
.booking-wrapper .btn-over-all{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left:0;
	bottom:60px;
	height:60px;
	width:60px;
	color:#fff;
	border-radius: 50%;
	background: #3fc7dd;
}

